.header {
  background-color:#9dd0e2;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  border-bottom: 5px rgb(168, 189, 209) solid;
  border-radius: 5px;
}

.header-menu-flexbox {
  display: flex;
  align-items: center;
  height: 100%;
  position:relative;
}

.header-name-container {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  padding-left: 20px;
  padding-right: 50px;
  max-width: 800px;
  min-width: 150px;
}

.header-links-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100%;
  margin-right: 20px;
  flex-shrink: 0;
}

.hamburger-button {
  background-color:#9dd0e2;
  margin-top:20px;
  margin-left:30px;
  margin-right: min(30px,30%);
  border-width: 0px;
  border-radius:3px;
  cursor: pointer;
}

.hamburger-button:hover {
  background-color: #467e9491;
}

.header-directory {
  display:none;
  background-color: rgb(245, 249, 252);
  border: 1px solid rgba(23, 69, 122, 0.911);
  box-shadow: 2px 4px 4px rgba(76, 102, 129, 0.356);
  position:absolute;
  top:109px;
  left:30px;
  border-radius:5px;
}

.dir-list-item {
  margin: 10px;
  white-space: nowrap;
}

.dir-list-item button {
  width:100%;
  background:transparent;
  border-width: 0;
  cursor:pointer;
  text-align:left;
  padding:5px;
  padding-right:20px;
}

.dir-list-item button:hover{
  background-color: rgba(206, 209, 212, 0.534);
}

.dir-list-item a {
  color:inherit;
  text-decoration: inherit;
  font-size: 22px;
}

.header-name {
  flex: 1;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 20px;
  font-size: 60px;
  text-align: left;
  vertical-align: bottom;
}

.icon-hamburger-menu {
  height: 30px;
  padding:6px;
}

.icon-sm
{
  display: flex;
  height: 50px;
  padding-top: 20px;
  border-radius: 20px;
}