.block-left-container {
  /*background-color: rgb(161, 200, 224);*/
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 120px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.summary-block-left {
  display: flex;
  background-color:rgb(236, 244, 248);
  margin-top: 10px;
  margin-bottom: 60px;
  margin-left: 30px;
  border-radius: 0px;
  border-top: 0px rgb(1, 23, 36) solid;
}

.summary-block-left-writing {
  min-width: 400px;
  max-width: 1200px;
  font-size: 22px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.summary-block-left-images {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  margin-right: 50px;
  padding: 10px;
}

.image-container {
  padding-bottom: 20px;
  padding-top: 50px;
}

.samplegif {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3px;
  border: 4px rgb(0, 32, 68) solid;
}

.content-block-left-h1 {
  margin: 0;
  font-weight: 700;
  font-size: 45px;
  padding: 5px;
  border-bottom: 1px rgb(1, 23, 36) solid;
}

.summary-block-left-h2 {
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 8px;
  font-size: 40px;
}

.summary-block-left-h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 70px;
  padding-bottom: 10px;
  font-weight: 700;
}

.summary-block-left-p {
  margin: 2px;;
  padding-left:40px;
  padding-bottom:10px;
}

.summary-block-left-ul {
  margin: 0;
  padding-left:50px;
  padding-bottom:10px;
}

ul > li {
  padding-top: 5px;
}

.feature-list-li-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.feature-list-ul-2 {
  padding-top: 4px;
}

.edu-info {
  text-align: center;
  padding: 0;
  margin: 0;
}

.icon-links-flexbox {
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 60px;
  margin-right: 20px;
  margin-left: 40px;
  flex-shrink: 0;
}

.lang-list {

}

.lang-item {
  
}